<section class="ui segment">
    <h2 class="header">
        ${_station.name}
    </h2>
    <div class="ui four cards inverted">
        <div class="card">
            <div class="extra">
                <i class="cloud sun icon blue huge right floated"></i>
                #{if _station.readings.size() >= 1}
                <h3 class="header">${_station.codeToText(_station.readings.code.last())}</h3>
                #{/if}
            </div>
            <div class="content extra">
                <div class="ui small feed list horizontal">
                    <div class="item">Lat: ${_station.latitude.format('00.00')}</div>
                    <div class="item">Lng: ${_station.longitude.format('00.00')}</div>
                </div>
                <h2 class="header">
                    ${_station.name} location
                </h2>
            </div>
        </div>
        <div class="card">
            <div class="extra">
                <i class="temperature high icon red huge right floated"></i>
                <h3 class="header">Temperature</h3>
                <ul class="ui list">
                    #{if _station.readings.size() >= 1}
                    <li>${_station.readings.temperature.last()} C</li>
                    <li>${_station.calculateFahrenheit(_station.readings.temperature.last())} F</li>
                    <div class="ui divider"></div>
                    <li>Min: ${_station.readings.temperature.min()} C</li>
                    <li>Max: ${_station.readings.temperature.max()} C</li>
                    #{/if}
                    <li> Trend: <i class="${_station.presTrend} icon red"></i></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="extra">
                <i class="wind icon green huge right floated "></i>
                <h3 class="header">Wind</h3>
                <ul class="ui list">
                    #{if _station.readings.size() >= 1}
                    <li>${_station.windBeaufort(_station.readings.windSpeed.last())} bft</li>
                    <li>${_station.windDirection(_station.readings.windDirection.last())}</li>
                    <li>Feels like: ${_station.windChill(_station.readings.windSpeed.last(),
                        _station.readings.temperature.last())}
                    </li>
                    <div class="ui divider"></div>
                    <li>Min: ${_station.readings.windSpeed.min()}</li>
                    <li>Max: ${_station.readings.windSpeed.max()}</li>
                    #{/if}
                    <li> Trend: <i class="${_station.windTrend} icon green"></i></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="extra">
                <i class="compress arrows alternate icon yellow huge right floated "></i>
                <h3 class="header">Pressure</h3>
                <ul class="ui list">
                    #{if _station.readings.size() >= 1}
                    <li class="header">${_station.pressure(_station.readings.pressure.last())} hpa</li>
                    <div class="ui divider"></div>
                    <li class="header">Min: ${_station.pressure(_station.readings.pressure.min())}</li>
                    <li class="header">Max: ${_station.pressure(_station.readings.pressure.max())}</li>
                    #{/if}
                    <li> Trend: <i class="${_station.presTrend} icon yellow"></i></li>
                </ul>
            </div>
        </div>
    </div>
</section>



