#{extends 'main.html' /}
#{set title:'Start' /}
#{welcomemenu id:"start"/}

<section class="ui center aligned middle aligned segment">
    <h1 class="ui header">
        Version 5: Release 3
    </h1>
</section>
<div class="ui two column doubling stackable grid container">
    <div class="column">
        <div class="ui very padded text segment">
            <p>
                A small app to let you create weather stations.
                This app will allow you to create, manage and weather stations.
                Simply enter the station details in the dashboard.
            </p>
            <p>
                This app requires the user to sign up and then login with newly created
                credentials.
            </p>
        </div>
    </div>
    <div class="column">
        <img class="ui fluid image segment" src="public/images/weather2.png">
    </div>
</div>